.users{
    width: 1200px;
    overflow-x: auto;
    white-space:nowrap;
    margin: 20px auto;
    min-height: 80vh;
    border: solid grey 1px;
    /* background-color: blue; */

    h1{
        text-align: center;
        font-weight: 900;
        color: #8a4baf;
    }

    table{
        width: 100%;
        border: 2px solid black;
    }
}